<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--Video数据库连接Data Source=127.0.0.1;Initial Catalog=MyVideo;User ID=sa;Password=SQLConnection365-->
  <add name="VideoDBConnectionString" connectionString="GyEItJtJeAgMcLVvcmha8Z5VKMuhEzXsPqbY/39g3qoQF51t8gX6JZjQAjtyhEsxgcqY2ysXAoeJDWM11vEHDZ15W6WMBBRfJqVcWGvLBgmepX4U4pa98A=="/>
</connectionStrings>
